<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
  
<!-- 네브바 시작 -->
<nav class="navbarbg">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo white-text">로고</a>
    <ul class="hide-on-med-and-down right">
    </ui>
</nav>

  <!--사이드 네브바 넣을 자리-->
  <ul id="slide-out" class="sidenav">
      <!--여기부터 유저 프로필-->
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#"><span class="white-text name"><%= current_user.name %></span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
      <li><div class="divider"></div></li>
    <!--여기까지 유저 프로필-->
    <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">cloud</i>MyPage</a></li>
    <li>
      <% if user_signed_in?%>
      <%= link_to "로그아웃", destroy_user_session_path, method: :delete%>
      <% else %>
      <%= link_to "로그인", new_user_session_path%>
      <% end%>
    </li>
            <!------ 검색 ------->
    <li><a href="#search" class="modal-trigger"><i class="material-icons">search</i></a>
      <div id="search" class="modal">
      <div class="modal-content black center">
        <h2>친구찾기</h2>
        <%= form_tag("/#search", :method => "get", id: "search-form", remote: true) do %>
        <%= text_field_tag :search, params[:search], placeholder: "유저 검색", :class => 'white-text' %>
        <%= submit_tag "Search"%>
        <% end %>
        
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>이름</th>
              <th>페이지</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @search_user.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td>페이지 주소</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <div></div></li>
      <!--검색 끝 -->
      <li><a href="javascript:void(0);" onclick="toggleFullScreen()"><i class="material-icons toggle-fullscreen">settings_overscan</i></a></li>
      <!--<li><a href=""><i class="material-icons">people_outline</i></a></li>-->
      <!--<li><a href=""><i class="material-icons">notifications_none</i></a></li>-->
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">accessibility</i></a></li>
  </div>

    <!--여기까지검색-->
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
 
 
<!-- Post List Table -->
  <div class="container">
  </div>

<div class="box-container">
  <div class="newsfeed">
    <% @boards.each do |board| %>
      <div class="box">
        <div class="">
            <a class="ui label">
            <img src="/images/avatar/small/stevie.jpg"><span>유저 프로필사진</span>
            <span><%= board.profile.user.name %></span>
            </a>
          <img class="image" src="<%= board.image_url %>">
          <div class="padding">
              <!-- 좋아요 -->
            <div class="like">
              <% if current_user.is_like?(board) %>
                  <div class="ui labeled button">
                  <%= link_to like_board_path(board), method: "POST" do%>
                   <div class="ui red button">
                   좋아요 취소
                   </div>
                   <a class="ui basic red left pointing label"><%= board.liked_users.size %></a>
                  </div>
                  <% end %>
              <% else %>
                  <div class="ui labeled button" tabindex="0">
                  <%= link_to like_board_path(board), method: "POST", class: "ui red button" do%>
                  <i class="heart icon">like</i>
                  <% end %>
                  <a class="ui basic red left pointing label"><%= board.liked_users.size %></a>
                  </div>
              <% end %>  
            </div>
              <!-- 게시글 정보 -->
                 <%= board.title %>
                 <%= board.content %>
              
              <!-- 게시글 편집 -->
              <% if user_signed_in? && current_user.id == board.profile.user.id %>
              <a href="/board/edit/<%= board.id %>"><i class="material-icons">edit</i></a>
              <%= link_to '삭제', board, method: :delete, data: { confirm: '진짜 삭제?' } %>
              <% end %>
              
              <!-- 코멘트 입력 / 제출 -->
              <div class="comment">
                <% if user_signed_in?%>
                  <form action="/board/comments/<%= board.id %>" method="POST">
                  <input type="textarea" name="body" placeholder="댓글을 입력해 주세요">
                  <input type="submit">
                  </form>
                    <% board.comments.each do |comment| %>
                    <%= comment.body %><hr>
                    <% end %>
                <% end %>
              </div>
          </div>  
        </div>    
      </div>
      <div class="newspace"><br>
      <!-- 게시글 사이에 여백 -->
      </div>
    <% end %>
  </div>
</div>


</body>

  
<footer>
</footer>

<script>

</script>

<style>



  body {
    background-color: #FAFAFA;
  }
  
  a:hover {
    background: none;
  }
  

  .box-container {
    text-align: center;
  }
  
  .box:not(.like) {
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px;
    max-width: 700px;
    text-align: left;
  }
  
  .box-mobile {
    border: none;
    margin-bottom: 0;
  }
  
  .box .buttons{
    font-size: 2em;
  }
  
  .box .buttons .glyphicon{
    color: black;
    margin-right: 0.3em;
  }
  
  .box .padding:not(.like) {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .box .image:not(.like) {
    margin-top: 5em;
    min-width: 700px;
    max-width: 100%;
    max-height: 600px;
    margin-bottom: 1em;
  }
  
  .box .hit {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .contentbox:not(.like) {
    width: 100%;
  }
  
  .newsfeed:not(.like) {
    display: inline-block;
    background-color: white;
    width: 700px;
    text-align: left;
  }
  
  .newspace:not(.like) {
    background-color: #FAFAFA;
    padding-bottom: 3.5em;
  }
  
  .grid {
    display: grid;
    grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
  }
  
  .grid .grid-box {
    background-color: #FAFAFA;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-gap: 10px;
  }
  .nanumgothic * { font-family: 'Nanum Gothic', sans-serif;
  }

</style>