<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<!-- 네브바 시작 -->
<nav class="navbarbg">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo white-text">로고</a>
    <ul class="hide-on-med-and-down right">               
      <li>    
        <div class="center row">
          <div class="col s12">
            <div class="row" id="topbarsearch">
              <div class="input-field col s6 s12 white-text">
              <i class="white-text material-icons prefix">search</i>
              <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text" >
              </div>
            </div>
          </div>
        </div>
      </li>
      
      <li><a href="javascript:void(0);" onclick="toggleFullScreen()"><i class="material-icons toggle-fullscreen">settings_overscan</i></a></li>
      <li><a href=""><i class="material-icons">people_outline</i></a></li>
      <li><a href=""><i class="material-icons">notifications_none</i></a></li>
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">accessibility</i></a></li>
      <li>
        <% if user_signed_in?%>
          <%= link_to "로그아웃", destroy_user_session_path, method: :delete%><i class="material-icons right">power_settings_new</i>
        <% else %>
          <%= link_to "로그인", new_user_session_path%>
        <% end%></a></li>
    </ul>
  </div>
</nav>
<!-- 네브바 끝 -->

 <!-- Post List Table -->
  <div class="container">  
    <div class="sign_inform">
      <p>
        <% if user_signed_in?%>
          <%= current_user.name %>님 환영합니다<br>
        <%end%>
      </p>
    <p id="notice"><%= notice %></p>
    </div>
  </div>

<div class="box-container">
  <div class="newsfeed">
    <% @boards.each do |board| %>
      <div class="box">
        <div class="">
          <img class="image" src="<%= board.image_url %>">
          <div class="padding">
            <div class="">
              
              <!-- 좋아요 -->
              <div>
                <% if current_user.is_like?(board) %>
                <%= link_to "좋아요 취소", like_board_path(board), method: "POST" %>
                <% else %>
                <%= link_to "좋아요", like_board_path(board), method: "POST" %>
                <% end %>
                <%= board.liked_users.size %>
              </div>
              
              <!-- 게시글 정보 -->
              <b><%= board.profile.user.name %></b>
                 <%= board.title %>
                 <%= board.content %>
              
              <!-- 게시글 편집 -->
              <% if user_signed_in? && current_user.id == board.profile.user.id %>
              <a href="/board/edit/<%= board.id %>"><i class="material-icons">edit</i></a>
              <%= link_to '삭제', board, method: :delete, data: { confirm: '진짜 삭제?' } %>
              <% end %>
              
              <!-- 코멘트 입력 / 제출 -->
              <div>
                <% if user_signed_in?%>
                  <form action="/board/comments/<%= board.id %>" method="POST">
                  <input type="textarea" name="body" placeholder="댓글 쓰는 곳">
                  <input type="submit">
                  </form>
                  <% board.comments.each do |comment| %>
                  <%= comment.body.reverse %><hr>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>  
        </div>    
      </div>
      <div class="newspace"><br>
      <!-- 게시글 사이에 여백 -->
      </div>
    <% end %>
  </div>
</div>


</body>

  
<footer>
</footer>


<style>



  body {
    background-color: #FAFAFA;
  }
  
  a:hover {
    background: none;
  }
  
  .box-container {
    text-align: center;
  }
  
  .box {
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px;
    max-width: 700px;
    text-align: left;
  }
  
  .box-mobile {
    border: none;
    margin-bottom: 0;
  }
  
  .box .buttons{
    font-size: 2em;
  }
  
  .box .buttons .glyphicon{
    color: black;
    margin-right: 0.3em;
  }
  
  .box .padding {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .box .image {
    margin-top: 5em;
    min-width: 700px;
    max-width: 100%;
    max-height: 600px;
    margin-bottom: 1em;
  }
  
  .box .hit {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .contentbox {
    width: 100%;
  }
  
  .newsfeed {
    display: inline-block;
    background-color: white;
    width: 700px;
    text-align: left;
  }
  
  .newspace {
    background-color: #FAFAFA;
    padding-bottom: 3.5em;
  }
  
  .grid {
    display: grid;
    grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
  }
  
  .grid .grid-box {
    background-color: #FAFAFA;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-gap: 10px;
  }


</style>