<!-- 네브바 시작 -->
<a href="/" class="brand-logo white-text"><img src="/moment_logo.png" width="120" height="64" id="logo"></a>
  
<!--검색기능-->


<!--검색기능-->
  
  <!--사이드 네브바 넣을 자리-->
  <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view valign-wrapper">
        <!--<div class="background">-->
        <!--<img src="/m_logo.ico" height='125px'>-->
        <!--</div>-->
          <a href="/profile/mypage/<%=current_user.id%>"><img class="circle-song" src="<%= @info.try("image_url") %>"></a>
          <br>

        </div>
      </li>
        <li><div class="divider"></div></li>
      <!--여기부터 유저 프로필-->
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">assignment_ind</i><%= current_user.name %></a></li>
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">email</i><%= current_user.email %></a></li>
         
    <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">cloud</i>My Page</a></li>
    <!--여기까지 유저 프로필-->
    
      <li><a href="javascript:void(0);" onclick="toggleFullScreen()"><i class="material-icons toggle-fullscreen">settings_overscan</i>Full Screen</a></li>
      <!--<li><a href=""><i class="material-icons">people_outline</i></a></li>-->
      <!--<li><a href=""><i class="material-icons">notifications_none</i></a></li>-->
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">accessibility</i>Following & Follower</a></li>
  </div>
      <li><div class="divider"></div></li>
        <li><a class="subheader">모먼트는 사랑입니다</a></li>
      <!--<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
           <li class="waves-effect">
            <% if user_signed_in?%>
            <%= link_to "로그아웃", destroy_user_session_path, method: :delete%>
            <% else %>
            <%= link_to "로그인", new_user_session_path%>
            <% end%>
            </li>
    </ul>
   <a href="#" data-target="slide-out" class="sidenav-trigger sidenav-song"><img class="circle-song_2" src="<%= @info.try("image_url") %>"></i></a>
   

<br>
<% if current_user != @profile_user %>
  <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab waves-effect waves-pink"><a href="/profile/mypage/<%= @profile_user %>">프로필 메인</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= @profile_user %>/album">앨범</a></li>
    <li class="tab waves-effect waves-pink"><%= @user.name %></a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= @profile_user %>/archive">아카이브</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= @profile_user %>/tagged">태그됨</a></li>
  </ul>
<% else %>
  <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab waves-effect waves-pink"><a href="/profile/mypage/<%= current_user.id %>">프로필 메인</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/album">앨범</a></li>
    <li class="tab waves-effect waves-pink"><%= @user.name %></a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/archive">아카이브</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/tagged">태그됨</a></li>
  </ul>
<% end %>

<% if user_signed_in? && current_user.id == @profile_user  %>
<br><br>
<!--<a class="btn tooltipped" data-position="right" data-tooltip="I am a tooltip" -->
<!--href="/profile/<%= current_user.id %>/new">앨범 만들기</a>-->


<!-- profile new 를 모달로 띄움-->
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">앨범만들기</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h1>사진첩 생성 페이지</h1>
    
      <%= form_for(Profile.new, url: create_profile_path, method: 'post') do |f| %>
    
        <%= f.label :category %><br>
        <%= select_tag(:category_id, options_for_select(@categories), id: :select )%><br>
        
        
         <div class="input-field col s12">
        </div>
        <!--%= f.label :title, "글 제목" %>
        <!--%= f.text_field :title %><br>
        <!-- placeholder는 어떻게 써야 하는가... -->
    
        <%= f.submit "제출" %>
        
      <% end %>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>


  <!-- 모달 끝-->



<% end %>

<h6>profile/user_id/album임. user_id <%= @profile_user %>의 앨범. 여기서 앨범 만들기 가능</h6>

<!-- 사진첩 만드는 곳-->
<div class="box-container">
    <div class="row">
        <% @profile.each do |profile| %>
            <div class="col m4 l4" style="height:30%">
                <div class="box">
                <a href="/profile/<%= profile.id %>"><img class="image" src="<%= profile.category.image_url %>"></a>
                    <div class="padding">
                        <div class="buttons">
                            <button class="ui secondary button"> Show</button>
                            <% if user_signed_in? && current_user.id == profile.user_id %>
                            <button class="ui button"><a href="/profile/delete/<%= profile.id %>">Delete</button>
                            <%= link_to 'delete', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>












<a href="/">홈으로</a>

<!-- CSS -->

 <style>
    body {
      background-color: #FAFAFA;
    }
    
    /*a:hover {*/
    /*  background: none;*/
    /*}*/
    
    .box-container {
      text-align: center;
    }
    
    .box {
      display: inline-block;
      background-color: white;
      border-radius: 3px;
      border-color: #E6E6E6;
      border-style: solid;
      border-width: 1px;
      text-align: left;
      margin-bottom: 30px;
    }
    
    .box-mobile {
      border: none;
      margin-bottom: 0;
    }
    
    .box .buttons{
      font-size: 2em;
    }

    .box .buttons .glyphicon{
      color: black;
      margin-right: 0.3em;
    }
    
    .box .padding {
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-bottom: 1.5em;
    }
    
    .box .image {
      margin-top: 5em;
      width: 100%;
      margin-bottom: 1em;
    }
    
    .box .hit {
      font-weight: bold;
      margin-bottom: 0.5em;
    }



    .grid {
      display: grid;
      grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
    }
    
    .grid .grid-box {
      background-color: #FAFAFA;
      color: black;
      border-radius: 5px;
      border: 2px dodgerblue solid;
      grid-gap: 10px;
    }
    
    .grid .a {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    
    .grid .b {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .c {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .d {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .e {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 5;
    }
    
     .circle{
    border: 4px solid #000000;
    width:80px;
    height:80px;
    
  }
  
  .sidenav .user-view .circle-song {
      height: 90px;
      width: 90px;
  }
  
  .circle-song {
      border-radius: 50%;
     
  }
  
  .circle-song_2 {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      border: 3px solid #0054FFF;
      
  }
  .sidenav-song{
    position:fixed;
    top:2%;
    bottom:98%;
    left:94%;
    right:6%;
  }
  
  .moment_logo{
    top:10%;
    bottom:90%;
    left:5%;
    right:95%;
  }
  
  select#select{
   display: block;
  }
</style>


<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>