<!-- 네브바 시작 -->
<nav class="navbarbg">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo white-text">로고</a>
    <ul class="hide-on-med-and-down right">               
      <li>    
        <div class="center row">
          <div class="col s12">
            <div class="row" id="topbarsearch">
              <div class="input-field col s6 s12 white-text">
              <i class="white-text material-icons prefix">search</i>
              <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text" >
              </div>
            </div>
          </div>
        </div>
      </li>
      
      <li><a href="javascript:void(0);" onclick="toggleFullScreen()"><i class="material-icons toggle-fullscreen">settings_overscan</i></a></li>
      <li><a href=""><i class="material-icons">people_outline</i></a></li>
      <li><a href=""><i class="material-icons">notifications_none</i></a></li>
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">accessibility</i></a></li>
      <li>
        <% if user_signed_in?%>
          <%= link_to "로그아웃", destroy_user_session_path, method: :delete%>
        <% else %>
          <%= link_to "로그인", new_user_session_path%>
        <% end%></a></li>
    </ul>
  </div>
</nav>
<!-- 네브바 끝 -->

<% if current_user != @profile_user %>
  <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab waves-effect waves-pink"><a href="/profile/mypage/<%= @profile_user %>">프로필 메인</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= @profile_user %>/album">앨범</a></li>
    <li class="tab waves-effect waves-pink"><%= @user.name %></a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= @profile_user %>/archive">아카이브</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= @profile_user %>/tagged">태그됨</a></li>
  </ul>
<% else %>
  <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab waves-effect waves-pink"><a href="/profile/mypage/<%= current_user.id %>">프로필 메인</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/album">앨범</a></li>
    <li class="tab waves-effect waves-pink"><%= @user.name %></a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/archive">아카이브</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/tagged">태그됨</a></li>
  </ul>
<% end %>

<% if user_signed_in? && current_user.id == @profile_user  %>
  <a href="/profile/<%= current_user.id %>/new">앨범 만들기</a>
<% end %>

<h6>profile/user_id/album임. user_id <%= @profile_user %>의 앨범. 여기서 앨범 만들기 가능</h6>

<!-- 사진첩 만드는 곳-->
<div class="box-container">
    <div class="row">
        <% @profile.each do |profile| %>
            <div class="col m4 l4">
                <div class="box">
                <a href="/profile/<%= profile.id %>"><img class="image" src="<%= profile.category.image_url %>"></a>
                    <div class="padding">
                        <div class="buttons">
                            <% if user_signed_in? && current_user.id == profile.user_id %>
                            <%= link_to 'delete', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<a href="/">홈으로</a>

<!-- CSS -->

 <style>
    body {
      background-color: #FAFAFA;
    }
    
    a:hover {
      background: none;
    }
    
    .box-container {
      text-align: center;
    }
    
    .box {
      display: inline-block;
      background-color: white;
      border-radius: 3px;
      border-color: #E6E6E6;
      border-style: solid;
      border-width: 1px;
      text-align: left;
      margin-bottom: 30px;
    }
    
    .box-mobile {
      border: none;
      margin-bottom: 0;
    }
    
    .box .buttons{
      font-size: 2em;
    }

    .box .buttons .glyphicon{
      color: black;
      margin-right: 0.3em;
    }
    
    .box .padding {
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-bottom: 1.5em;
    }
    
    .box .image {
      margin-top: 5em;
      width: 100%;
      margin-bottom: 1em;
    }
    
    .box .hit {
      font-weight: bold;
      margin-bottom: 0.5em;
    }



    .grid {
      display: grid;
      grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
    }
    
    .grid .grid-box {
      background-color: #FAFAFA;
      color: black;
      border-radius: 5px;
      border: 2px dodgerblue solid;
      grid-gap: 10px;
    }
    
    .grid .a {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    
    .grid .b {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .c {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .d {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .e {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 5;
    }
</style>