<h1>[상단 네브바]</h1>

  <div class="grid">
    <div class="grid-box a">프로필 사진</div>
    <div class="grid-box b">자기소개</div>
    <div class="grid-box c">
      <% if current_user.following?(@user) %>
      <%= link_to "Following", {action: 'unfollow', id: @user.id}, method: 'post', remote: true %>
      <% elsif current_user != @user %>
      <%= link_to "Follow", {action: 'follow', id: @user.id}, method: 'post', remote: true %>
      <% elsif current_user == @user %>
      여기선 이 문구가 뜨고 다른 유저 페이지에서는 Follow가 뜸 (기능구현완료) 일단 profile / mypage 에만 적용시켜둠
      <% end %>
    </div>
    <div class="grid-box d">설정</div>
    <div class="grid-box e">하는 게임</div>
  </div>
  
<h5>[JQuery Tab Here 제이쿼리 탭 넣는 자리]</h5>

<% if current_user.id != @profile_user %>
	<a href="/profile/mypage/<%= @profile_user %>">프로필 메인</a>
	<a href="/profile/<%= @profile_user %>/album">앨범</a>
	<a href="/profile/<%= @profile_user %>/archive">아카이브</a>
  <a href="/profile/<%= @profile_user %>/tagged">태그됨</a>
<% else %>
	<a href="/profile/mypage/<%= current_user.id %>">프로필 메인</a>
	<a href="/profile/<%= current_user.id %>/album">앨범</a>
	<a href="/profile/<%= current_user.id %>/archive">아카이브</a>
  <a href="/profile/<%= current_user.id %>/tagged">태그됨</a>
<% end %>

<% if user_signed_in? && current_user.id == @profile_user  %>
  <a href="/profile/<%= current_user.id %>/new">앨범 만들기</a>
<% end %>

<h6>profile/user_id/album임. user_id <%= @profile_user %>의 앨범. 여기서 앨범 만들기 가능</h6>

<!-- 사진첩 만드는 곳-->
<div class="box-container">
    <div class="row">
        <% @profile.each do |profile| %>
            <div class="col m4 l4">
                <div class="box">
                <!--img class="image" src="<!%= profile.picture %>">-->
                    <div class="padding">
                        <div class="buttons">
                            <!--%= link_to 'show', profile %-->
                            <a href="/profile/<%= profile.id %>">보기</a>
                            <% if user_signed_in? && current_user.id == profile.user_id %>
                            <%= link_to 'edit', edit2_profile_path(profile) %>
                            <%= link_to 'delete', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<a href="/">홈으로</a>

<!-- CSS -->

 <style>
    body {
      background-color: #FAFAFA;
    }
    
    a:hover {
      background: none;
    }
    
    .box-container {
      text-align: center;
    }
    
    .box {
      display: inline-block;
      background-color: white;
      border-radius: 3px;
      border-color: #E6E6E6;
      border-style: solid;
      border-width: 1px;
      text-align: left;
      margin-bottom: 30px;
    }
    
    .box-mobile {
      border: none;
      margin-bottom: 0;
    }
    
    .box .buttons{
      font-size: 2em;
    }

    .box .buttons .glyphicon{
      color: black;
      margin-right: 0.3em;
    }
    
    .box .padding {
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-bottom: 1.5em;
    }
    
    .box .image {
      margin-top: 5em;
      width: 100%;
      margin-bottom: 1em;
    }
    
    .box .hit {
      font-weight: bold;
      margin-bottom: 0.5em;
    }



    .grid {
      display: grid;
      grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
    }
    
    .grid .grid-box {
      background-color: #FAFAFA;
      color: black;
      border-radius: 5px;
      border: 2px dodgerblue solid;
      grid-gap: 10px;
    }
    
    .grid .a {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    
    .grid .b {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .c {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .d {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .e {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 5;
    }
</style>