<!-- 네브바 시작 -->
<a href="/" class="brand-logo white-text"><img src="/moment_logo.png" width="120" height="64" id="logo"></a>
  
<!--검색기능-->


<!--검색기능-->
  
  <!--사이드 네브바 넣을 자리-->
  <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view valign-wrapper">
        <!--<div class="background">-->
        <!--<img src="/m_logo.ico" height='125px'>-->
        <!--</div>-->
          <a href="/profile/mypage/<%=current_user.id%>"><img class="circle-song" src="<%= @info.try("image_url") %>"></a>
          <br>

        </div>
      </li>
        <li><div class="divider"></div></li>
      <!--여기부터 유저 프로필-->
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">assignment_ind</i><%= current_user.name %></a></li>
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">email</i><%= current_user.email %></a></li>
         
    <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">cloud</i>My Page</a></li>
    <!--여기까지 유저 프로필-->
    
      <li><a href="javascript:void(0);" onclick="toggleFullScreen()"><i class="material-icons toggle-fullscreen">settings_overscan</i>Full Screen</a></li>
      <!--<li><a href=""><i class="material-icons">people_outline</i></a></li>-->
      <!--<li><a href=""><i class="material-icons">notifications_none</i></a></li>-->
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">accessibility</i>Following & Follower</a></li>
  </div>
      <li><div class="divider"></div></li>
        <li><a class="subheader">모먼트는 사랑입니다</a></li>
      <!--<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
           <li class="waves-effect">
            <% if user_signed_in?%>
            <%= link_to "로그아웃", destroy_user_session_path, method: :delete%>
            <% else %>
            <%= link_to "로그인", new_user_session_path%>
            <% end%>
            </li>
    </ul>
   <a href="#" data-target="slide-out" class="sidenav-trigger sidenav-song"><img class="circle-song_2" src="<%= @info.try("image_url") %>"></i></a>
   

<!-- 네브바 끝 -->

<body>  
<!-- 중앙 탭 시작 -->
  <div class="list">
    <% if current_user != @pro.user %>
      <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab waves-effect waves-pink"><a href="/profile/mypage/<%= @pro.user_id %>">프로필 메인</a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= @pro.user_id %>/album">앨범</a></li>
        <li class="tab waves-effect waves-pink"><%= @pro.user.name %></a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= @pro.user_id %>/archive">아카이브</a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= @pro.user_id %>/tagged">태그됨</a></li>
      </ul>
    <% else %>
      <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab waves-effect waves-pink"><a href="/profile/mypage/<%= current_user.id %>"><i class="material-icons small">person</i></a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/album"><i class="material-icons small">photo_library</i></a></li>
        <li class="tab waves-effect waves-pink"><a href="/board/<%= @pro.id %>/new"><i class="material-icons small">add_a_photo</i></a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/archive"><i class="material-icons small">grid_on</i></a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/tagged">태그됨</a></li>
      </ul>
    <% end %>
  </div>
<!-- 중앙 탭 끝 -->
  
  <h6>profile/index/profile_id임. 여기서 글쓰기 가능</h6>
  
  <div class="box-container">
      <div class="row">
          <% @board.each do |board| %>
              <div class="col m4 l4">
                  <div class="box">
                  <a class="modal-trigger" href="#<%=board.id%>">
                    <img class="image" src="<%= board.image_url %>"></a>
  
                          <!-- Modal Structure -->
  
                          <div id="<%=board.id%>" class="modal">
                            <div class="modal-content">
                              <img class="modal-image" src="<%= board.image_url %>">
                              
                              <h4><%= board.title %></h4>
                              <p><%= board.content %></p>
                              <p>
                                <form action="/board/comments/<%= board.id %>" method="POST">
                                  <input type="textarea" name="body" placeholder="댓글 쓰는 곳">
                                  <input type="submit">

                                </form>
                              </p>
                              <p>
                                <!-- Tags in Comment -->
                                <% board.comments.reverse.each do |comment| %>
                                 <!-- 댓글 작성자-->
                                 <%= link_to getNamebyID(comment.user_id), '/profile/mypage/'+comment.user_id.to_s, class: "ui violet basic button"%> : 
                             
                                        
                                  <% user = nil %>
                                  
                                  <!-- @XXX 문자열이 없으면 그대로 출력 -->
                                  <% if comment.body.scan(/@[^0-9 ]*/).map.first.nil? %>
                                    <%= comment.body %> ㅈ
                              
                                  <!-- @XXX 문자열이 있다면?-->
                                  <% else %>
                                    <!-- @XXX 형태의 문자열을 겹치는 값이 없는 배열로 저장-->
                                    <% comment.body.scan(/@[^0-9 ]*/).map.each do |c|%>
                                      <!-- @를 제거한 XXX를 이름으로 User 테이블에서 검색-->
                                      <% user = User.find_by(name: c.delete('@'))%>
                                    <% end %>
                                    <!-- user가 검색되었다면 -->
                          
                                      <%  # @이름으로 링크를 달아서 출력
                                      h comment.body.gsub(/@[^0-9 ]*/){|word|
                                          link_to word.delete('@'), "/profile/mypage/#{getIDbyName(word)}", class: "ui violet basic button"}.html_safe  
                                      %>
                      
                                  <% end %>
                                  
                                  <!-- 댓글 삭제 -->
                                  <% if comment.user_id = current_user.id %>
                                    <button class="ui icon button">
                                      <a href = "/profile/comments/destroy/<%= comment.id %>" ><i class="cut icon"></i></a>
                                    </button>
                                  <% end %>
                                <hr>
                                <% end %> <!-- Tag and Comment -->
                              </p>
                              <p>
                                <% board.hashtags.each do |hash|%>
                                  #<%= hash.title %> &nbsp;
                                <% end %>
                              </p>
                              
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                                <% if user_signed_in? && current_user.id == @pro.user_id %>
                              <a href="/board/edit/<%= board.id %>"><i class="material-icons">edit</i></a>
                              <%= link_to '삭제', board, method: :delete, data: { confirm: '진짜 삭제' } %>
                              </a><% end %>
                            </div>
                          </div>
                  </div>
              </div>
          <% end %>
      </div>
  </div>
</body>
  
  <a href="/">홈으로</a>
<footer></footer>
<!-- CSS -->

 <style>
    body {
     background-color: #FAFAFA;
    }
    
    a:hover {
      background: none;
    }
    
    .box-container {
      text-align: center;
    }
    
    .box {
      display: inline-block;
      background-color: white;
      border-radius: 3px;
      border-color: #E6E6E6;
      border-style: solid;
      border-width: 1px;
      text-align: left;
      margin-bottom: 30px;
    }
    
    .box-mobile {
      border: none;
      margin-bottom: 0;
    }
    
    .box .buttons{
      font-size: 2em;
    }

    .box .buttons .glyphicon{
      color: black;
      margin-right: 0.3em;
    }
    
    .box .padding {
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-bottom: 1.5em;
    }
    
    .box .image {
      width: 100%;
    }
    
    .modal-image {
      max-width: 100%;
    }
    
    .box .hit {
      font-weight: bold;
      margin-bottom: 0.5em;
    }



    .grid {
      display: grid;
      grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
    }
    
    .grid .grid-box {
      background-color: #FAFAFA;
      color: black;
      border-radius: 5px;
      border: 2px dodgerblue solid;
      grid-gap: 10px;
    }
    
    .grid .a {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    
    .grid .b {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .c {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .d {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .e {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 5;
    }
    .circle{
    border: 4px solid #000000;
    width:80px;
    height:80px;
    
  }
  
  .sidenav .user-view .circle-song {
      height: 90px;
      width: 90px;
  }
  
  .circle-song {
      border-radius: 50%;
     
  }
  
  .circle-song_2 {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      border: 3px solid #0054FFF;
      
  }
  .sidenav-song{
    position:fixed;
    top:2%;
    bottom:98%;
    left:94%;
    right:6%;
  }
  
  .moment_logo{
    top:10%;
    bottom:90%;
    left:5%;
    right:95%;
  }
</style>