
<!-- 네브바 시작 -->
<nav class="navbarbg">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo white-text">로고</a>
    <ul class="hide-on-med-and-down right">               
      <li>    
        <div class="center row">
          <div class="col s12">
            <div class="row" id="topbarsearch">
              <div class="input-field col s6 s12 white-text">
              <i class="white-text material-icons prefix">search</i>
              <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text" >
              </div>
            </div>
          </div>
        </div>
      </li>
      
      <li><a href="javascript:void(0);" onclick="toggleFullScreen()"><i class="material-icons toggle-fullscreen">settings_overscan</i></a></li>
      <li><a href=""><i class="material-icons">people_outline</i></a></li>
      <li><a href=""><i class="material-icons">notifications_none</i></a></li>
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">accessibility</i></a></li>
      <li>
        <% if user_signed_in?%>
          <%= link_to "로그아웃", destroy_user_session_path, method: :delete%><i class="material-icons right">power_settings_new</i>
        <% else %>
          <%= link_to "로그인", new_user_session_path%>
        <% end%></a></li>
    </ul>

  </div>
</nav>
<!-- 네브바 끝 -->

<body>  
<!-- 중앙 탭 시작 -->
  <div class="list">
    <% if current_user != @pro.user %>
      <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab waves-effect waves-pink"><a href="/profile/mypage/<%= @pro.user_id %>">프로필 메인</a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= @pro.user_id %>/album">앨범</a></li>
        <li class="tab waves-effect waves-pink"><%= @pro.user.name %></a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= @pro.user_id %>/archive">아카이브</a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= @pro.user_id %>/tagged">태그됨</a></li>
      </ul>
    <% else %>
      <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab waves-effect waves-pink"><a href="/profile/mypage/<%= current_user.id %>"><i class="material-icons small">person</i></a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/album"><i class="material-icons small">photo_library</i></a></li>
        <li class="tab waves-effect waves-pink"><a href="/board/<%= @pro.id %>/new"><i class="material-icons small">add_a_photo</i></a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/archive"><i class="material-icons small">grid_on</i></a></li>
        <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/tagged">태그됨</a></li>
      </ul>
    <% end %>
  </div>
<!-- 중앙 탭 끝 -->
  
  <h6>profile/index/profile_id임. 여기서 글쓰기 가능</h6>
  
  <div class="box-container">
      <div class="row">
          <% @board.each do |board| %>
              <div class="col m4 l4">
                  <div class="box">
                  <a class="modal-trigger" href="#<%=board.id%>">
                    <img class="image" src="<%= board.image_url %>"></a>
  
                          <!-- Modal Structure -->
  
                          <div id="<%=board.id%>" class="modal">
                            <div class="modal-content">
                              <img class="modal-image" src="<%= board.image_url %>">
                              
                              <h4><%= board.title %></h4>
                              <p><%= board.content %></p>
                              <p>
                                <form action="/board/comments/<%= board.id %>" method="POST">
                                  <input type="textarea" name="body" placeholder="댓글 쓰는 곳">
                                  <input type="submit">
                                </form>
                              </p>
                              <p>
                                <!-- Tags in Comment -->
                                <% board.comments.each do |comment| %>
                                  <% user = nil %>
                                  <% if comment.body.scan(/@[^0-9 ]*/).map.first.nil? %>
                                    <%= comment.body %> <hr>
                                  <% else %>
                                    <% comment.body.scan(/@[^0-9 ]*/).map.each do |c|%>
                                      
                                      <% user = User.find_by(name: c.delete('@'))%>
                                      
                                      <% #link_to '@'+user.name, "/profile/mypage/#{user.id}" %> 
                                      <% #comment.body.gsub(/@[^0-9 ]*/, '')%>
                                      
                                    <% end %>
                                  <% end %>
                                  <%= h comment.body.gsub(/@[^0-9 ]*/){|word| link_to word, 
                                          "/profile/mypage/#{getIDbyName(word)}"}.html_safe  
                                  %>
                                  <hr>
                                <% end %> <!-- Tag and Comment -->

                              <p>
                                <% board.hashtags.each do |hash|%>
                                  #<%= hash.title %> &nbsp;
                                <% end %>
                              </p>
                              
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                                <% if user_signed_in? && current_user.id == @pro.user_id %>
                              <a href="/board/edit/<%= board.id %>"><i class="material-icons">edit</i></a>
                              <%= link_to '삭제', board, method: :delete, data: { confirm: '진짜 삭제' } %>
                              </a><% end %>
                            </div>
                          </div>
                  </div>
              </div>
          <% end %>
      </div>
  </div>
</body>
  
  <a href="/">홈으로</a>
<footer></footer>
<!-- CSS -->

 <style>
    body {
      background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
    }
    
    a:hover {
      background: none;
    }
    
    .box-container {
      text-align: center;
    }
    
    .box {
      display: inline-block;
      background-color: white;
      border-radius: 3px;
      border-color: #E6E6E6;
      border-style: solid;
      border-width: 1px;
      text-align: left;
      margin-bottom: 30px;
    }
    
    .box-mobile {
      border: none;
      margin-bottom: 0;
    }
    
    .box .buttons{
      font-size: 2em;
    }

    .box .buttons .glyphicon{
      color: black;
      margin-right: 0.3em;
    }
    
    .box .padding {
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-bottom: 1.5em;
    }
    
    .box .image {
      width: 100%;
    }
    
    .modal-image {
      max-width: 100%;
    }
    
    .box .hit {
      font-weight: bold;
      margin-bottom: 0.5em;
    }



    .grid {
      display: grid;
      grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
    }
    
    .grid .grid-box {
      background-color: #FAFAFA;
      color: black;
      border-radius: 5px;
      border: 2px dodgerblue solid;
      grid-gap: 10px;
    }
    
    .grid .a {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    
    .grid .b {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .c {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .d {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .e {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 5;
    }
</style>