
<!-- 네브바 시작 -->
<nav class="navbarbg">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo white-text">로고</a>
    <ul class="hide-on-med-and-down right">               
      <li>    
        <div class="center row">
          <div class="col s12">
            <div class="row" id="topbarsearch">
              <div class="input-field col s6 s12 white-text">
              <i class="white-text material-icons prefix">search</i>
              <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text" >
              </div>
            </div>
          </div>
        </div>
      </li>
<body>
      <li><a href="javascript:void(0);" onclick="toggleFullScreen()"><i class="material-icons toggle-fullscreen">settings_overscan</i></a></li>
      <li><a href=""><i class="material-icons">people_outline</i></a></li>
      <li><a href=""><i class="material-icons">notifications_none</i></a></li>
      <li><a href="/profile/mypage/<%=current_user.id%>"><i class="material-icons">accessibility</i></a></li>
      <li>
        <% if user_signed_in?%>
          <%= link_to "로그아웃", destroy_user_session_path, method: :delete%><i class="material-icons right">power_settings_new</i>
        <% else %>
          <%= link_to "로그인", new_user_session_path%>
        <% end%></a></li>
    </ul>
  </div>
</nav>
<!-- 네브바 끝 -->

<!-- current_user 와 @user가 다를 경우 설정에 link 없음-->
<% if current_user != @user %>
  <div class="grid">
    <div class="grid-box a"><img src="<%=%>">프로필 사진</div>
    <div class="grid-box b"><%=%>자기소개</div>
    <div class="grid-box c">
      <% if current_user.following?(@user) %>
      <%= link_to "Following", {action: 'unfollow', id: @user.id}, method: 'post', remote: true %>
      <% elsif current_user != @user %>
      <%= link_to "Follow", {action: 'follow', id: @user.id}, method: 'post', remote: true %>
      <% elsif current_user == @user %>
      여기선 이 문구가 뜨고 다른 유저 페이지에서는 Follow가 뜸
      <% end %>
    </div>
    <div class="grid-box d">설정</div>
    <div class="grid-box e">하는 게임</div>
  </div>
  
<!-- current_user 와 @user가 같을 경우 설정에 link 있음-->  
<% elsif  @info.blank? %>
  <a href="/info/new/<%=current_user.id%>">개인정보가 없습니다. 개인정보를 설정해 주세요.
<% else %>
  <div class="grid">
    <div class="grid-box a"><img src="">프로필 사진</div>
    <div class="grid-box b"><%= %>자기소개</div>
    <div class="grid-box c">
      <% if current_user.following?(@user) %>
      <%= link_to "Following", {action: 'unfollow', id: @user.id}, method: 'post', remote: true %>
      <% elsif current_user != @user %>
      <%= link_to "Follow", {action: 'follow', id: @user.id}, method: 'post', remote: true %>
      <% elsif current_user == @user %>
      여기선 이 문구가 뜨고 다른 유저 페이지에서는 Follow가 뜸
      <% end %>
    </div>
    <% if @info.blank? %>
      <div class="grid-box d"><a href="/info/new/<%=current_user.id%>">설정</div>
    <% else %>
      <div class="grid-box d"><a href="/info/edit/<%=current_user.id%>">설정</div>
    <% end %>
    <div class="grid-box e">
      <p>하는 게임</p>
      <% @plays.each do |play|%>
        <p><%= play.name %></p>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_user != @user %>
  <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab waves-effect waves-pink"><a href="/profile/mypage/<%= @user.id %>">프로필 메인</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= @user.id %>/album">앨범</a></li>
    <li class="tab waves-effect waves-pink"><%= @user.name %></a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= @user.id %>/archive">아카이브</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= @user.id %>/tagged">태그됨</a></li>
  </ul>

<% else %>
  <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab waves-effect waves-pink"><a href="/profile/mypage/<%= current_user.id %>">프로필 메인</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/album">앨범</a></li>
    <li class="tab waves-effect waves-pink"><%= @user.name %></a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/archive">아카이브</a></li>
    <li class="tab waves-effect waves-pink"><a href="/profile/<%= current_user.id %>/tagged">태그됨</a></li>
  </ul>
<% end %>

<h6>profile/mypage/user_id임. user_id <%= @user.id %>의 마이페이지(메인)</h6>
<h6>사이트 최초 메인화면과 비슷한 레이아웃으로 가려 함</h6>

<div class="box-container">
  <div class="newsfeed">
    <% @board.each do |board| %>
      <div class="box">
        <div class="">
          <img class="image" src="<%= board.image_url %>">
          <div class="padding">
            <div class="">
              
              <!-- 좋아요 -->
              <div class="like">
                <% if current_user.is_like?(board) %>
                  <%= link_to like_board_path(board), method: "POST" do%>
                   <div class="ui red button">
                   좋아요 취소
                   </div>
                  <% end %>
                <% else %>
                  <%= link_to  like_board_path(board), method: "POST", tabindex: "0", class: "ui red button" do%>
                  <i class="heart icon"></i>like
                  <a class="ui basic red left pointing label"><%= board.liked_users.size %></a>
                  <% end %>
                <% end %>
                  <div class="ui labeled button" tabindex="0">
                    <div class="ui red button">
                      <i class="heart icon"></i> Like
                    </div>
                  <a class="ui basic red left pointing label"><%= board.liked_users.size %></a>
                </div>
              </div>
                  </div>
              <!-- 게시글 정보 -->
              <b><%= board.profile.user.name %></b>
                 <%= board.title %>
                 <%= board.content %>
              
              <!-- 게시글 편집 -->
              <% if user_signed_in? && current_user.id == board.profile.user.id %>
              <a href="/board/edit/<%= board.id %>"><i class="material-icons">edit</i></a>
              <%= link_to '삭제', board, method: :delete, data: { confirm: '진짜 삭제?' } %>
              <% end %>
              
              <!-- 코멘트 입력 / 제출 -->
              <div>
                <% if user_signed_in?%>
                  <form action="/board/comments/<%= board.id %>" method="POST">
                    <input type="textarea" name="body" placeholder="댓글 쓰는 곳">
                    
                    <input type="submit">
                  </form>
                  <p>
                  <!-- Tags in Comment -->
                  <% board.comments.each do |comment| %>
                    <% user = nil %>
                    
                    <!-- @XXX 문자열이 없으면 그대로 출력 -->
                    <% if comment.body.scan(/@[^0-9 ]*/).map.first.nil? %>
                      <%= comment.body %> <hr>
                    <!-- @XXX 문자열이 있다면?-->
                    <% else %>
                      <!-- @XXX 형태의 문자열을 겹치는 값이 없는 배열로 저장-->
                      <% comment.body.scan(/@[^0-9 ]*/).map.each do |c|%>
                        <!-- @를 제거한 XXX를 이름으로 User 테이블에서 검색-->
                        <% user = User.find_by(name: c.delete('@'))%>
                      <% end %>
                      <!-- user가 검색되었다면 -->
            
                        <%=  # @이름으로 링크를 달아서 출력
                        h comment.body.gsub(/@[^0-9 ]*/){|word|
                            link_to word.delete('@'), "/profile/mypage/#{getIDbyName(word)}", class: "ui violet basic button"}.html_safe  
                        %>
             
                    <% end %>
                    
                  <hr><% end %> <!-- Tag and Comment -->
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <%end%>
        </div>
      </div>
      
      <div class="newspace"><br>
      <!-- 게시글 사이에 여백 -->
      </div>

  </div>
</div>
  <button class="ui inverted olive basic button"> <a href="/"></a>홈으로</button>
  <button class="ui inverted green basic button">Basic Green</button>

</body>
<!-- CSS -->


 <style>
  body {
    background-image: url("gradient_bg.png");
    background-repeat: repeat-x;
  }
  
  a:hover {
    background: none;
  }
  
  .like:hover{
  }
  .box-container {
    text-align: center;
  }
  
  .box {
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px;
    max-width: 700px;
    text-align: left;
  }
  
  .box-mobile {
    border: none;
    margin-bottom: 0;
  }
  
  .box .buttons{
    font-size: 2em;
  }
  
  .box .buttons .glyphicon{
    color: black;
    margin-right: 0.3em;
  }
  
  .box .padding {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .box .image {
    margin-top: 5em;
    min-width: 700px;
    max-width: 100%;
    max-height: 600px;
    margin-bottom: 1em;
  }
  
  .box .hit {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .contentbox {
    width: 100%;
  }
  
  .newsfeed {
    display: inline-block;
    background-color: white;
    width: 700px;
    text-align: left;
  }
  
  .newspace {
    background-color: #FAFAFA;
    padding-bottom: 3.5em;
  }
  
  .grid {
    display: grid;
    grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
  }
  
  .grid .grid-box {
    background-color: #FAFAFA;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-gap: 10px;
  }
  
  .grid .a {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .grid .b {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .grid .c {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .grid .d {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .grid .e {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
  }


</style>

