<h1>info 생성 페이지</h1>
<% if @info.blank? %>
    <form action="/info/create" method="post" enctype="multipart/form-data">
        <div>
            <p>프로필 사진</p>
            <input type="file" name="image_url" id="info_image_url"><br>
        </div>
    
        <div>
            <p>자기소개</p>
            <input type="text" name="introduction">
        </div>
        
        <input type="submit" value="저장">
    </form>
<% else %>
    <div>
        <p>프로필 사진</p>
        <img src= "<%= @info.image_url%>" >
    </div>
        
    <div>
        <p>자기소개</p>
        <%= @info.introduction %>
    </div>
<% end %>


<div>
    <p>하는 게임을 모두 선택하시오.</p>
    <form action="/plays/create/<%= current_user.id %>" method="post">
        <% @categories.each do |category|%> 
            <p>
              <label>
                <input type="checkbox" name="category_id[]" value= "<%= category.id %>" class="filled-in"  />
                <span><%= category.name %></span>
              </label>
            </p>
        <% end %> 
        
        <input type="submit" value="저장">  
    </form>    
       
</div>

<div>
   <p>하는 게임을 모두 선택하시오.</p>
    <% @categories.each do |category|%> 
        <% if current_user.following?(category ) %>
        <%= link_to "On", {action: 'unfollow', id: @user.id}, method: 'post', remote: true %>
        <% elsif %>
        <%= link_to "Off", {action: 'follow', id: @user.id}, method: 'post', remote: true %>
        
        <% end %>
    <% end %>
</div>











