<h1>info 생성 페이지</h1>

<%= form_for(Info.new, url: mypage_path) do |f| %>

    <p>프로필 사진</p>
    <%= f.label :image_url %><br>
    <%= f.file_field :image_url %><br>
    
    <p>자기소개</p>
    <%= f.label :introduction %><br>
    <%= f.text_field :introduction %><br>
    
    <p>하는 게임을 모두 선택 하세요</p>
    <% @categories.each do |category|%>
    

    
    <% end %>
<!-- 이 제대로 작동하는 HTML 코드도 안 먹는건 Materialize 문제라고 봄 ...
<input type="checkbox" name="chk_info" value="HTML">HTML
<input type="checkbox" name="chk_info" value="CSS">CSS
<input type="checkbox" name="chk_info" value="웹디자인">웹디자인 -->
    <%= f.submit "제출" %>
<% end %>